<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>Mobile Money</title>
</head>
<body>
  <div id="app">
    <div class="currency-container">
      <div class="marketing-currency">
        You have ${{ format(player.money) }}
      </div>
      <div class="artist-currency">
        You have {{ format(player.graphics) }} graphics
      </div>
      <div class="lootboxTeam-currency">

      </div>
    </div>
    <div class="producers-container">
      <div class="generators-container">
        <div class="generator marketing-generator" v-for="generator in player.marketing">
          <generator :generator="generator"/>
        </div>
        <add-generator-button target="marketing"/>
      </div>
      <div class="generators-container">
        <div class="generator artist-generator" v-for="generator in player.artists">
          <generator :generator="generator"/>
        </div>
        <add-generator-button target="artists"/>
      </div>
      <div class="generators-container">
        <div class="generator lootboxTeam-generator" v-for="generator in player.lootboxTeam">
          <generator :generator="generator"/>
        </div>
        <add-generator-button target="lootboxTeam"/>
      </div>
    </div>
  </div>
</body>
<script src="js/vue.js"></script>

<script src="js/generator.js"></script>

<script src="js/components/generator.js"></script>
<script src="js/components/add-generator-button.js"></script>

<script src="js/player.js"></script>
<script src="js/format.js"></script>
<script src="js/loop.js"></script>
<script src="js/format.js"></script>
<script src="js/index.js"></script>

</html>