
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#app {
  width: 950px;
  margin: auto;
}

.currency-container, .producers-container {
  display: flex;
  justify-content: space-between;
}

.marketing-currency, 
.artist-currency, 
.lootboxTeam-currency {
  width: 300px;
  text-align: center;
  padding: 40px 10px;
  background: #89A894;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.3em;
}

.generators-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.generator {
  width: 300px;
  height: 130px;
  text-align: center;
  background: #4B644A;
  color: white;
  padding: 15px;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.12s;
}

.generator:not(:first-child) {
  border-top: 2px solid #89A894;
}

.generator h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.generator h2 {
  margin-top: 0;
}

.generator-cost {
  display: block;
}

.add-generator-button {
  width: 300px;
  height: 130px;
  text-align: center;
  background: #4B644A;
  color: white;
  padding: 15px;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.12s;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid #89A894;
}

.add-generator-button h1 {
  margin: 0;
}


.generator--unavailable,
.add-generator-button--unavailable {
  background: #341C1C;
  cursor: default;
}